Repository mrrooke/svelte-mrm: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin prettier-plugin-svelte, prettier --check --plugin prettier-plugin-svelte, eslint, stylelint --fix, stylelint

update lint staged
  .lintstagedrc
Due: none

add extra ts check
  tsconfig.json
Due: prettier --write --plugin prettier-plugin-svelte, prettier --check --plugin prettier-plugin-svelte

fix:navigating discrete math field
  src/lib/components/Domain.svelte
  src/lib/components/Domains/Discrete.svelte
  src/lib/components/Problem.svelte
Due: prettier --write --plugin prettier-plugin-svelte, prettier --check --plugin prettier-plugin-svelte, eslint, stylelint --fix, stylelint

update go
  .stylelintrc.json
  package-lock.json
  package.json
  static/main.wasm
  static/wasm_exec.js
  vite.config.js.timestamp-1695923523833-a15a5bb7fb428.mjs
  wasm/go.mod
  wasm/go.sum
Due: prettier --write --plugin prettier-plugin-svelte, prettier --check --plugin prettier-plugin-svelte, eslint

misc updates
  package-lock.json
  src/lib/components/Constraint.svelte
  src/lib/components/Questions.svelte
  static/main.wasm
  wasm/go.mod
  wasm/go.sum
Due: prettier --write --plugin prettier-plugin-svelte, prettier --check --plugin prettier-plugin-svelte, eslint, stylelint --fix, stylelint

Add square function
  .pnpm-debug.log
  package-lock.json
  package.json
  playwright.config.ts
  src/lib/actions/useMq.ts
  static/main.wasm
  wasm/go.mod
  wasm/go.sum
Due: prettier --write --plugin prettier-plugin-svelte, prettier --check --plugin prettier-plugin-svelte, eslint

remove tests
  tests/test.ts
Due: prettier --write --plugin prettier-plugin-svelte, prettier --check --plugin prettier-plugin-svelte, eslint

adapter-vercel
  package-lock.json
  package.json
  svelte.config.js
Due: prettier --write --plugin prettier-plugin-svelte, prettier --check --plugin prettier-plugin-svelte, eslint

Error handling with unusual functions
  src/lib/components/Problem.svelte
  static/main.wasm
  wasm/go.mod
  wasm/go.sum
Due: prettier --write --plugin prettier-plugin-svelte, prettier --check --plugin prettier-plugin-svelte, eslint, stylelint --fix, stylelint

improvements
  src/lib/components/Constraint.svelte
  src/lib/components/EditableMF.svelte
  src/lib/components/Problem.svelte
  src/routes/+page.svelte
  static/main.wasm
  vite.config.js.timestamp-1698486871477-518cc393637a.mjs
  wasm/go.mod
  wasm/go.sum
Due: prettier --write --plugin prettier-plugin-svelte, prettier --check --plugin prettier-plugin-svelte, eslint, stylelint --fix, stylelint

fix load
  src/app.html
  src/routes/+page.svelte
Due: prettier --write --plugin prettier-plugin-svelte, prettier --check --plugin prettier-plugin-svelte, eslint, stylelint --fix, stylelint

stop commas fucking up
  src/lib/components/Problem.svelte
Due: prettier --write --plugin prettier-plugin-svelte, prettier --check --plugin prettier-plugin-svelte, eslint, stylelint --fix, stylelint

improvements to usability
  .eslintignore
  .stylelintrc.json
  package-lock.json
  package.json
  src/app.d.ts
  src/lib/actions/useMq.ts
  src/lib/components/Constraint.svelte
  src/lib/components/Domains/Discrete.svelte
  src/lib/components/Domains/Integer.svelte
  src/lib/components/EditableMF.svelte
  src/lib/components/Nav.svelte
  src/lib/components/Problem.svelte
  src/lib/components/StaticMF.svelte
  src/lib/components/types.ts
  src/mathquill.d.ts
  src/routes/+layout.svelte
  src/routes/+page.svelte
  src/routes/calculator/+page.svelte
  src/styles/colors.css
  src/styles/main.css
  src/styles/mathquill-changes.css
  src/styles/mathquill.css
  static/fonts/Symbola-basic.css
  static/main.wasm
  static/mathquill.js
  static/mathquill.min.js
  wasm/go.mod
  wasm/go.sum
  wasm/wasm.go
Due: prettier --write --plugin prettier-plugin-svelte, prettier --check --plugin prettier-plugin-svelte, eslint, stylelint --fix, stylelint

lots of misc changes
  .eslintignore
  .eslintrc.cjs
  .idea/prettier.xml
  .vscode/settings.json
  package-lock.json
  package.json
  src/lib/actions/useMq.ts
  src/lib/components/Constraint.svelte
  src/lib/components/Domains/Discrete.svelte
  src/lib/components/Domains/Integer.svelte
  src/lib/components/EditableMF.svelte
  src/lib/components/Problem.svelte
  src/lib/components/Questions.svelte
  src/lib/components/toasts.svelte
  src/lib/components/types.ts
  src/lib/stores/toasts.ts
  src/routes/+page.svelte
  src/styles/main.css
  svelte.config.js
Due: prettier --write --plugin prettier-plugin-svelte, prettier --check --plugin prettier-plugin-svelte, eslint, stylelint --fix, stylelint

move to web worker
  .eslintignore
  .vscode/settings.json
  package-lock.json
  package.json
  src/app.d.ts
  src/lib/components/Constraint.svelte
  src/lib/components/Domains/Discrete.svelte
  src/lib/components/Domains/Integer.svelte
  src/lib/components/EditableMF.svelte
  src/lib/components/Problem.svelte
  src/lib/components/Questions.svelte
  src/lib/components/types.ts
  src/lib/main.wasm
  src/lib/stores/questions.ts
  src/lib/stores/wasm.ts
  src/lib/wasm_exec.js
  src/lib/worker.ts
  src/routes/+page.svelte
  src/styles/main.css
  static/main.wasm
  todo.md
  wasm.js
  wasm/go.mod
  wasm/go.sum
  wasm/wasm.go
Due: prettier --write --plugin prettier-plugin-svelte, prettier --check --plugin prettier-plugin-svelte, eslint, stylelint --fix, stylelint

fix lint errors
  package-lock.json
  src/lib/worker.ts
  src/routes/+page.svelte
  tsconfig.json
Due: prettier --write --plugin prettier-plugin-svelte, prettier --check --plugin prettier-plugin-svelte, eslint, stylelint --fix, stylelint

build properly
  .gitignore
  src/routes/+page.svelte
  src/styles/mathquill.css
  static/main.wasm
  static/mathquill.js
  svelte.config.js
Due: prettier --write --plugin prettier-plugin-svelte, prettier --check --plugin prettier-plugin-svelte, eslint, stylelint --fix, stylelint

more font tweaks
  src/styles/mathquill.css
Due: prettier --write --plugin prettier-plugin-svelte, prettier --check --plugin prettier-plugin-svelte, stylelint --fix, stylelint

Pressing enter generates problems
  .idea/jsLinters/eslint.xml
  src/lib/components/Constraint.svelte
  src/lib/components/Domain.svelte
  src/lib/components/Domains/Discrete.svelte
  src/lib/components/Domains/Integer.svelte
  src/lib/components/EditableMF.svelte
  src/lib/components/Problem.svelte
  src/lib/components/Questions.svelte
  src/lib/components/StaticMF.svelte
  src/lib/stores/questions.ts
  src/routes/+page.svelte
Due: prettier --write --plugin prettier-plugin-svelte, prettier --check --plugin prettier-plugin-svelte, eslint, stylelint --fix, stylelint

Fix warnings with MF
  src/lib/components/EditableMF.svelte
  src/lib/components/StaticMF.svelte
Due: prettier --write --plugin prettier-plugin-svelte, prettier --check --plugin prettier-plugin-svelte, eslint, stylelint --fix, stylelint

Refactor question generation logic Prevent repeated re-renders of questions
  src/lib/components/Problem.svelte
  src/lib/components/Questions.svelte
  src/lib/stores/questions.ts
  todo.md
Due: prettier --write --plugin prettier-plugin-svelte, prettier --check --plugin prettier-plugin-svelte, eslint, stylelint --fix, stylelint

use event handlers for editing maths fields
  .eslintrc.cjs
  package-lock.json
  src/lib/components/Constraint.svelte
  src/lib/components/EditableMF.svelte
  src/lib/components/Problem.svelte
  src/lib/main.wasm
  src/lib/worker.ts
  tsconfig.json
  wasm/go.mod
  wasm/go.sum
  wasm/wasm.go
Due: prettier --write --plugin prettier-plugin-svelte, prettier --check --plugin prettier-plugin-svelte, eslint, stylelint --fix, stylelint

Fix submitting parsed latex
  .eslintrc.cjs
  src/lib/components/EditableMF.svelte
Due: prettier --write --plugin prettier-plugin-svelte, prettier --check --plugin prettier-plugin-svelte, eslint, stylelint --fix, stylelint

Refactor event listener in Constraint and fix generateProblem function in Problem
  src/lib/components/Constraint.svelte
  src/lib/components/Problem.svelte
Due: prettier --write --plugin prettier-plugin-svelte, prettier --check --plugin prettier-plugin-svelte, eslint, stylelint --fix, stylelint

revert fonts not loading
  src/styles/mathquill.css
Due: prettier --write --plugin prettier-plugin-svelte, prettier --check --plugin prettier-plugin-svelte, stylelint --fix, stylelint

Revert vite 5.0
  package-lock.json
  package.json
  svelte.config.js
Due: prettier --write --plugin prettier-plugin-svelte, prettier --check --plugin prettier-plugin-svelte, eslint

migration to shad
  src/app.html
  src/lib/components/Button.svelte
  src/lib/components/Checkbox.svelte
  src/lib/components/Constraint.svelte
  src/lib/components/EditableMF.svelte
  src/lib/components/ExpressionContainer.svelte
  src/lib/components/Nav.svelte
  src/lib/components/NavItem.svelte
  src/lib/components/Problem.svelte
  src/lib/components/ProblemQuestionsToggle.svelte
  src/lib/components/Questions.svelte
  src/lib/components/Repl.svelte
  src/lib/components/theme-toggle.svelte
  src/routes/+layout.svelte
Due: prettier --write --plugin prettier-plugin-svelte, prettier --check --plugin prettier-plugin-svelte, eslint, stylelint --fix, stylelint

remove old components ui
  src/routes/components/+page.svelte
Due: prettier --write --plugin prettier-plugin-svelte, prettier --check --plugin prettier-plugin-svelte, eslint, stylelint --fix, stylelint

Extraneous container class
  src/lib/components/StaticMF.svelte
Due: prettier --write --plugin prettier-plugin-svelte, prettier --check --plugin prettier-plugin-svelte, eslint, stylelint --fix, stylelint

Fix mobile view
  .idea/prettier.xml
  package-lock.json
  package.json
  src/app.html
  src/lib/components/Katex.svelte
  src/lib/components/Problem.svelte
  src/lib/components/Questions.svelte
  src/lib/components/Repl.svelte
  src/lib/stores/questions.ts
  src/lib/utils.ts
Due: prettier --write --plugin prettier-plugin-svelte, prettier --check --plugin prettier-plugin-svelte, eslint, stylelint --fix, stylelint

Use dvh
  src/app.html
  src/lib/components/Questions.svelte
  src/routes/+layout.svelte
Due: prettier --write --plugin prettier-plugin-svelte, prettier --check --plugin prettier-plugin-svelte, eslint, stylelint --fix, stylelint

Use dvh
  src/lib/components/Questions.svelte
Due: prettier --write --plugin prettier-plugin-svelte, prettier --check --plugin prettier-plugin-svelte, eslint, stylelint --fix, stylelint

Update deps and remove uneccessary Katex
  package-lock.json
  package.json
  src/app.html
  src/lib/components/ExpressionContainer.svelte
  src/lib/components/Katex.svelte
  src/styles/base.css
Due: prettier --write --plugin prettier-plugin-svelte, prettier --check --plugin prettier-plugin-svelte, eslint, stylelint --fix, stylelint

Format expression label as number/expression
  src/lib/components/ExpressionContainer.svelte
Due: prettier --write --plugin prettier-plugin-svelte, prettier --check --plugin prettier-plugin-svelte, eslint, stylelint --fix, stylelint

Format expression label as number/expression
  .lintstagedrc
  .stylelintrc.json
  src/app.postcss
  src/styles/base.css
  src/styles/fonts.css
  static/fonts/STIXTwoMath-Regular.woff
  static/fonts/STIXTwoMath-Regular.woff2
  static/fonts/STIXTwoText-Bold.woff
  static/fonts/STIXTwoText-Bold.woff2
  static/fonts/STIXTwoText-BoldItalic.woff
  static/fonts/STIXTwoText-BoldItalic.woff2
  static/fonts/STIXTwoText-Italic.woff
  static/fonts/STIXTwoText-Italic.woff2
  static/fonts/STIXTwoText-Regular.woff
  static/fonts/STIXTwoText-Regular.woff2
  static/fonts/mathfonts.css
Due: prettier --write --plugin prettier-plugin-svelte, prettier --check --plugin prettier-plugin-svelte, stylelint --fix, stylelint

Update deps
  package-lock.json
  package.json
Due: prettier --write --plugin prettier-plugin-svelte, prettier --check --plugin prettier-plugin-svelte

Update dependencies in package.json
  .lintstagedrc
  package-lock.json
  package.json
Due: prettier --write --plugin prettier-plugin-svelte, prettier --check --plugin prettier-plugin-svelte

Path conditions:
  prettier --write --plugin prettier-plugin-svelte: any of: *.{js,ts,svelte,css,scss,postcss,md,json}
  prettier --check --plugin prettier-plugin-svelte: any of: *.{js,ts,svelte,css,scss,postcss,md,json}
  eslint: any of: *.{js,ts,svelte}
  stylelint --fix: any of: *.{svelte,css,scss,postcss}
  stylelint: any of: *.{svelte,css,scss,postcss}
